<script>
  class CouponPage extends HTMLElement {
    constructor() {
      super();

      // shadow dom
      this.attachShadow({ mode: "open" });

      // render
      this.render();
    }

    render() {
      this.shadowRoot.innerHTML = this.getTemplate();
    }

    getTemplate() {
      return `
        <div>
          Coupon Page
        </div>
        ${this.getStyles()}
      `;
    }

    getStyles() {
      return ``;
    }

    connectedCallback() {}

    disconnectedCallback() {}
  }

  customElements.define("coupon-page", CouponPage);
</script>
