<script>
  class AppFooter extends HTMLElement {
    constructor() {
      super();

      // shadow dom
      this.attachShadow({ mode: "open" });

      // render
      this.render();
    }

    render() {
      this.shadowRoot.innerHTML = this.getTemplate();
    }

    getTemplate() {
      return `
        <div class="bottom-nav">
          <slot name="left"></slot>
          <slot name="center"></slot>
          <slot name="right"></slot>
        </div>
        ${this.getStyles()}
      `;
    }

    getStyles() {
      return `
        <style>
          .bottom-nav {
            overflow: hidden;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
          }
          .bottom-nav ::slotted(*) {
            float: left;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
        </style>
      `;
    }

    connectedCallback() {}

    disconnectedCallback() {}
  }

  customElements.define("app-footer", AppFooter);
</script>
