<script>
  class AppHeader extends HTMLElement {
    constructor() {
      super();

      // shadow dom
      this.attachShadow({ mode: "open" });

      // render
      this.render();
    }

    render() {
      this.shadowRoot.innerHTML = this.getTemplate();
    }

    getTemplate() {
      return `
          <div class="top-nav">
            <slot name="left" class="nav-item"></slot>
            <slot name="center" class="nav-item"></slot>
            <slot name="right" class="nav-item"></slot>
          </div>
          ${this.getStyles()}
        `;
    }

    getStyles() {
      return `
        <style>
        .top-nav {
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;

            ::slotted(*) {
                float: left;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }
        }
        </style>
        `;
    }

    connectedCallback() {}

    disconnectedCallback() {}
  }

  customElements.define("app-header", AppHeader);
</script>
